.manage-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.manage-booking{
    border: 1px solid grey;
    border-radius: 15px;
    background-color: rgb(213, 224, 191);
    padding-top: 10px;
    padding-bottom: 15px;
}

